env/
db.sqlite3
core/.env
core/__pycache__/
core/migrations/
apps/equipamentos/__pycache__/
apps/equipamentos/migrations/
apps/localidades/__pycache__/
apps/localidades/migrations/
apps/movimentacao/__pycache__/
apps/movimentacao/migrations/
apps/impressoras/__pycache__/
apps/impressoras/migrations/
.vscode/launch.json
