{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SisPatriMP</title>

    <!-- ICON  -->
    <link rel="shortcut icon" href="{% static '/bootstrap-icons/box-fill.svg' %}" type="image/x-icon">

    <!-- statics -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>

    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">

    <!-- LOADING  -->
    <script src="{% static 'js/loading.js' %}" defer></script>

    {% block static %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include 'header.html' %}
    <main class="d-flex flex-grow-1 flex-shrink-0">
        <aside class="bg-dark pt-5 d-none d-md-block border-top border-2 border-secondary">    
            {% include 'aside.html' %}
        </aside>
        <section class="bg-white" id="main-container">
            <main class="container-xl py-4 h-100">
                {% block content %}{% endblock %}
            </main>
        </section>
        {% include 'loading.html' %}
    </main>
    {% include 'footer.html' %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

</body>
</html>