{% extends 'main.html' %}
{% load static %}

{% block static %}
  <script src="{% static 'js/equipamentos.js' %}" defer></script>
{% endblock %}

{% block content %}

<article class="container-fluid">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-form">Adicionar</button>

  <div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="titutlo-modal">Cadastrar equipamento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form class="row" action="{% url 'inserir_equipamento' %}">
  
            <div class="col-lg-6 col-12">
        
              <div class="mb-3">
                <label for="polo" class="form-label">Polo</label>
                <select class="form-select" required id="polos" name="polo">
                  <option value="null" selected>Selecione o polo</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <select class="form-select" required id="cidades" name="cidade">
                  <option value="null" selected>Selecione a cidade</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="local" class="form-label">Local</label>
                <select class="form-select" required id="locais" name="local">
                  <option value="null" selected>Selecione o local</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="observacao" class="form-label">Observação</label>
                <textarea class="form-control" rows="8" name="observacao" id="observacao" placeholder="Alguma observação?"></textarea>
              </div>
        
            </div>
        
            <div class="col-lg-6 col-12">
              
              <div class="mb-3">
                <label for="tipoEquipamento" class="form-label">Tipo de Equipamento</label>
                <select class="form-select" required id="tipo_equipamentos" name="tipo_equipamento">
                  <option value="null" selected>Selecione o tipo de equipamento</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="fabricante" class="form-label">Fabricante</label>
                <select class="form-select" required id="fabricantes" name="fabricante">
                  <option value="null" selected>Selecione o fabricante</option>
                </select>
              </div>
        
              <div class="mb-3">
                <label for="patrimonio" class="form-label">Patrimônio</label>
                <input autocomplete="off"required type="text" class="form-control" id="patrimonio" name="patrimonio" placeholder="Número do patrimônio">
              </div>
        
        
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input autocomplete="off"required type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do equipamento">
              </div>
        
              <div class="mb-3">
                <label for="mac" class="form-label">MAC</label>
                <input autocomplete="off"required type="text" class="form-control" id="mac" name="mac" placeholder="Endereço MAC">
              </div>
        
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input autocomplete="off"type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descrição">
              </div>
        
        
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" onclick="enviarDados()">Salvar</button>
        </div>
      </div>
    </div>
  </div>



  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link " href="#">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Computadores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Monitores</a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#">Scanners e Impressoras</a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#">Outros</a>
    </li>
  </ul>




  <div class="table-responsive border border-top-0" >
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Polo</th>
          <th scope="col">Cidade</th>
          <th scope="col">Local</th>
          <th scope="col">Tipo</th>
          <th scope="col">Patrimônio</th>
          <th scope="col">Nome Equipamento</th>
          <th scope="col">Descrição</th>
          <th scope="col">Fabrincante</th>
          <th scope="col">MAC</th>
          <th scope="col">Observação</th>
          <th scope="col">Última Movimentação</th>
        </tr>
      </thead>
      <tbody>
          {% for equipamento in equipamentos %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ equipamento.local.cidade.polo }}</td>
            <td>{{ equipamento.local.cidade.nome }}</td>
            <td>{{ equipamento.local.nome }}</td>
            <td>{{ equipamento.tipo }}</td>
            <td>{{ equipamento.patrimonio }}</td>
            <td>{{ equipamento.nome_equipamento }}</td>
            <td>{{ equipamento.descricao }}</td>
            <td>{{ equipamento.fabricante }}</td>
            <td>{{ equipamento.mac }}</td>
            <td>{{ equipamento.observacao }}</td>
            <td>{{equipamento.historico_movimentacao.all.last.data_movimentacao|date:"d/m/Y H:s" }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</article>



{% endblock %}