{% extends 'main.html' %}
{% load static %}

{% block static %}
<script src="{% static 'js/equipamentos.js' %}" defer></script>
{% endblock %}

{% block content %}

<article>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Polo</th>
          <th scope="col">Cidade</th>
          <th scope="col">Local</th>
          <th scope="col">Tipo</th>
          <th scope="col">Patrimônio</th>
          <th scope="col">Nome Equipamento</th>
          <th scope="col">Descrição</th>
          <th scope="col">Fabrincante</th>
          <th scope="col">MAC</th>
          <th scope="col">Observação</th>
          <th scope="col">Última Movimentação</th>
        </tr>
      </thead>
      <tbody>
          {% for equipamento in equipamentos %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ equipamento.local.cidade.polo }}</td>
            <td>{{ equipamento.local.cidade.nome }}</td>
            <td>{{ equipamento.local.nome }}</td>
            <td>{{ equipamento.tipo }}</td>
            <td>{{ equipamento.patrimonio }}</td>
            <td>{{ equipamento.nome_equipamento }}</td>
            <td>{{ equipamento.descricao }}</td>
            <td>{{ equipamento.fabricante }}</td>
            <td>{{ equipamento.mac }}</td>
            <td>{{ equipamento.observacao }}</td>
            <td>{{equipamento.historico_movimentacao.all.last.data_movimentacao|date:"d/m/Y H:s" }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</article>



{% endblock %}