:root {
    --danger: rgb(220 53 69);
}

#main-container{
    overflow-y: auto;
    height: calc(100vh - 59px);
}

@media (max-width:767.9px) {
    #main-container{
        min-width: 100vw;
    }
}

@media (min-width:768px) {
    #main-container{
        min-width: calc(100vw - 250px);
    }
}

aside{
    min-width: 250px;
}

a.aside-option{
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    transition: all 0.10s;
    cursor: pointer;
}

a.aside-option:hover,
a.aside-option.active{
    border-left: 5px solid var(--danger);
    background-color: #f0f0f1;
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(4);
    background-color: #1e263081;
}

/* BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.6em;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgb(227, 227, 227);
}

/* tom-select */

/* Corrige altura e padding */
div.ts-control{
    display: block !important;
    width: 100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
} 

.ts-control:has(input:focus) {
    width: 100%;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}