<ul class="nav flex-column">
  <li class="nav-item my-1">
    <a href="{% url 'home' %}" class="text-dark w-100 aside-option {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
      <i class="bi bi-house-fill me-3"></i>Home
    </a>
  </li>
  <li class="nav-item my-1">
    <a href="{% url 'equipamentos' %}" class="text-dark w-100 aside-option {% if request.resolver_match.url_name == 'equipamentos' %}active{% endif %}">
      <i class="bi bi-pc-display me-3"></i>Equipamentos
    </a>
  </li>
  <li class="nav-item my-1">
    <a href="{% url 'home' %}" class="text-dark w-100 aside-option {% if request.resolver_match.url_name == 'localidades' %}active{% endif %}">
      <i class="bi bi-geo-alt-fill me-3"></i>Localidades
    </a>
  </li>
  <li class="nav-item my-1">
    <a href="{% url 'home' %}" class="text-dark w-100 aside-option {% if request.resolver_match.url_name == 'historico' %}active{% endif %}">
      <i class="bi bi-clock-history me-3"></i>Histórico
    </a>
  </li>
  <li class="nav-item my-1 d-none">
    <a class="text-dark w-100 aside-option {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
      <i class="bi bi-pie-chart-fill me-3"></i>Dashboard
    </a>
    <div class="collapse" id="dashboard-collapse">
      <ul class="nav flex-column fw-normal small">
        <li class="nav-item mb-2">
          <a href="#" class="ms-5 text-decoration-none">Overview</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="ms-5 text-decoration-none">Weekly</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="ms-5 text-decoration-none">Monthly</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="ms-5 text-decoration-none">Annually</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
