{% load static %}

<header class="bg-white border sticky-top">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div class="d-inline-block align-text-top">
              <i class="bi bi-box-fill"></i>
            </div>
            <span class="ms-2 fw-bold text-uppercase">SisPatri<span class="text-danger">MP</span></span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between">
              <div class="d-md-none">
                {% include 'aside.html' %}
              </div>
              <ul class="nav ms-md-auto justify-content-center">
                <li class="nav-item dropdown">
                  <button type="button" class="btn border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 me-2 small text-end">
                        <div class="fw-bold">ianrodrigues</div>
                        <div class="lh-1 text-muted" style="font-size: 0.85em;">Administrador</div>
                      </div>
                      <div class="flex-shrink-0">
                        <img src="{% static 'media/profile.png' %}" class="border border-2 rounded-circle" width="35">
                      </div>
                    </div>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end rounded-4">
                    <li class="dropdown-item"></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                      <a class="btn btn-sm btn-danger text-start rounded-3" href="#">
                        <i class="bi bi-box-arrow-left me-2"></i> Sair
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
</header>