{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SisPatriMP</title>

    <!-- ICON  -->
    <link rel="shortcut icon" href="{% static '/bootstrap-icons/box-fill.svg' %}" type="image/x-icon">

    <!-- ESTILO -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    
    <!-- BOOTSTRAP_ICONS -->
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">
    
    <!-- TOM SELECT -->
    <script src="{% static 'tom-select/tom-select.complete.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'tom-select/tom-select.css' %}">

    <!-- LOADING  -->
    <script src="{% static 'js/loading.js' %}" defer></script>

    {% block static %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include 'header.html' %}
    <main class="d-flex flex-grow-1 flex-shrink-0">
        <aside class="bg-white border-end border-2 pt-5 d-none d-md-block">    
            {% include 'aside.html' %}
        </aside>
        <section class="bg-white" id="main-container">
            <nav class="bg-white p-2 border-bottom border-2 position-sticky top-0">
                <br>
            </nav>
            {% block content %}{% endblock %}
        </section>
        {% include 'loading.html' %}
    </main>
    {% include 'footer.html' %}
</body>
</html>